<head>
    <!--Titre de ma page-->
    <title>Curriculum Vitae</title>

    <meta charset="UTF-8">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li> <a href="">Formation</a> </li>
                <li> <a href="">Compétences</a></li>
                <li> <a href="">Expériences</a></li>
                <li> <a href="">Langues</a></li>
                <li> <a href="">Loisirs</a></li>
            </ul>
        </nav>
    </header>

    <main>

    </main>

    <footer>

    </footer>
</body>